spring:
  datasource:
    url: jdbc:mysql://localhost:3306/learning_platform_db 
    username: root 
    password: Root123$
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: update 
    show-sql: true  
   
server:
  port: 8088